
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-servicemonitor
  namespace: ecommerce
  labels:
    app: backend
    release: prometheus
spec:
  selector:
    matchLabels:
      app: backend
      tier: application
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
    scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
    - ecommerce

